
<h1>dfsd</h1>

<div class="row aktuelno">
  <div class="col-lg-6 pb-5">
    <h1 id="iot" data-aos="fade-up" data-aos-duration="1000" class="text-center mt-5 pt-5" style="color: #366956">TekVore-Care</h1>
    <br>

    <p class="text-center pl-5 pr-5">
      CARE BEDS FOR COMFORT, SAFETY AND EASE OF OPERATION
    </p>
    <p class="text-center pl-5 pr-5">
      We offer a selected product range for both home care and health care. Our care beds are renowned for high quality, ergonomics, safety, comfort and hygiene, combined with an appealing design. Functional and simple handling features are a great relief in the daily life of both patient and nurse.

Our experienced team strives to offer our products at an optimum price/performance ratio. We would be glad to hear from you soon to discuss your specific needs. In the event of any malfunction our competent customer support team will help you as soon as possible, in a friendly and direct manner.
    </p>
    <br>
  </div>
  <div class="col-lg-6 aktSlika">
    <div class="iotSlika">

    </div>
  </div>
</div>

