<!-- Icon Cards-->
<div class="row effect8 pt-2 mb-2">
  <div class="col-xl-2 col-sm-6 mb-3 ">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-comments"></i>
        </div>
        <div class="mr-5">{{brojVijesti}} Vijesti!</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" routerLink="vijesti">
        <span class="float-left">Pogledaj sve vijesti</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-2 col-sm-6 mb-3 ">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-comments"></i>
        </div>
        <div class="mr-5">{{brojProizvoda}} Proizvodi!</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" routerLink="proizvodi">
        <span class="float-left">Pogledaj sve proizvode</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-2 col-sm-6 mb-3">
    <div class="card text-white bg-warning o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-users"></i>
        </div>
        <div class="mr-5">{{brojPrijava}} Prijave!</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" routerLink="prijave">
        <span class="float-left">Pogledaj sve prijave</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
</div>
