<h3 class="text-center" style="color: #7db14f;">Naši proizvodi</h3>
  <section class="section first-section">
    <div class="container-fluid proizvodiContainer">
        <div class="masonry-blog clearfix">
            <div class="left-side">
                <div class="masonry-box post-media">
                     <img [src]="proizvodi[0].Slika | async" alt="" class="prviRed">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                              <span class="bg-green" style="background-color: #366956;"><a title="">{{proizvodi[0].Kategorija}}</a></span>
                              <h4><a style="color: white !important" routerLink="/proizvod/{{proizvodi[0].Id}}" class="naslov" title="">{{proizvodi[0].Naslov}}</a></h4>
                              <small><a style="color: white !important" class="naslov" title="">{{proizvodi[0].Datum | date }}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->

            <div class="center-side">
                <div class="masonry-box post-media">
                     <img [src]="proizvodi[1].Slika | async" alt="" class="prviRed">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-green" style="background-color: #366956;"><a title="">{{proizvodi[1].Kategorija}}</a></span>
                                <h4><a style="color: white !important" routerLink="/proizvod/{{proizvodi[1].Id}}" class="naslov" title="">{{proizvodi[1].Naslov}}</a></h4>
                                <small><a style="color: white !important" class="naslov" title="">{{proizvodi[1].Datum | date }}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->

            <div class="right-side hidden-md-down">
                <div class="masonry-box post-media">
                     <img [src]="proizvodi[2].Slika | async" alt="" class="prviRed">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                              <span class="bg-green" style="background-color: #366956;"><a title="">{{proizvodi[2].Kategorija}}</a></span>
                              <h4><a style="color: white !important" routerLink="/proizvod/{{proizvodi[1].Id}}" class="naslov" title="">{{proizvodi[2].Naslov}}</a></h4>
                              <small><a style="color: white !important" class="naslov" title="">{{proizvodi[2].Datum | date }}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                     </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end right-side -->
        </div><!-- end masonry -->
    </div>
</section>
<section class="section first-section">
  <div class="container-fluid proizvodiContainer">
      <div class="masonry-blog clearfix">
          <div class="left-side">
              <div class="masonry-box post-media">
                   <img [src]="proizvodi[3].Slika | async" alt="" class="prviRed">
                   <div class="shadoweffect">
                      <div class="shadow-desc">
                          <div class="blog-meta">
                            <span class="bg-green" style="background-color: #366956;"><a title="">{{proizvodi[3].Kategorija}}</a></span>
                            <h4><a style="color: white !important" routerLink="/proizvod/{{proizvodi[3].Id}}" class="naslov" title="">{{proizvodi[3].Naslov}}</a></h4>
                            <small><a style="color: white !important" class="naslov" title="">{{proizvodi[3].Datum | date }}</a></small>
                          </div><!-- end meta -->
                      </div><!-- end shadow-desc -->
                  </div><!-- end shadow -->
              </div><!-- end post-media -->
          </div><!-- end left-side -->

          <div class="center-side">
              <div class="masonry-box post-media">
                   <img [src]="proizvodi[4].Slika | async" alt="" class="prviRed">
                   <div class="shadoweffect">
                      <div class="shadow-desc">
                          <div class="blog-meta">
                              <span class="bg-green" style="background-color: #366956;"><a title="">{{proizvodi[4].Kategorija}}</a></span>
                              <h4><a style="color: white !important" routerLink="/proizvod/{{proizvodi[4].Id}}" class="naslov" title="">{{proizvodi[4].Naslov}}</a></h4>
                              <small><a style="color: white !important" class="naslov" title="">{{proizvodi[4].Datum | date }}</a></small>
                          </div><!-- end meta -->
                      </div><!-- end shadow-desc -->
                  </div><!-- end shadow -->
              </div><!-- end post-media -->
          </div><!-- end left-side -->

          <div class="right-side hidden-md-down">
              <div class="masonry-box post-media">
                   <img [src]="proizvodi[5].Slika | async" alt="" class="prviRed">
                   <div class="shadoweffect">
                      <div class="shadow-desc">
                          <div class="blog-meta">
                            <span class="bg-green" style="background-color: #366956;"><a title="">{{proizvodi[5].Kategorija}}</a></span>
                            <h4><a style="color: white !important" routerLink="/proizvod/{{proizvodi[5].Id}}" class="naslov" title="">{{proizvodi[5].Naslov}}</a></h4>
                            <small><a style="color: white !important" class="naslov" title="">{{proizvodi[5].Datum | date }}</a></small>
                          </div><!-- end meta -->
                      </div><!-- end shadow-desc -->
                   </div><!-- end shadow -->
              </div><!-- end post-media -->
          </div><!-- end right-side -->
      </div><!-- end masonry -->
  </div>
</section>


<br/>



